body {font-family: sans-serif;} 
ui-body-a, .ui-overlay-a { background-color: #E70095 }
 
html, .fullscreen {display: flex;height: 100%; margin: 0;padding: 0;width: 100%; overflow-y: hidden;}  
   
.container {margin: auto;text-align: center;} 
    
.title {font-size: 3rem;}

.background{
	width: 100vw;
	height: 85vh;
	background-image: url("../img/collage.jpg");
	background-size: contain;
	position: relative;
}
.seventy{
	position: absolute;
	width: 100%;
/*	background-image: url("../img/70.png");*/
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center top;
	top: 30vh;
}
.seventy img{
	width: 100%
}
#seventyLeft{
	transform: rotate(270deg);
    left: -53px;
    max-width: 350px;
    top: 33vh;
}
#seventyRight{
	transform: rotate(90deg);
    right: -53px;
    max-width: 350px;
    bottom: 33vh;
    top:auto;
}
#minds{
	position: absolute;
	width: 90%;
	top: 23vh;
	left: 5%;
}
.pinkButton{
	height: 15vh;
	width: 100%;
	background-color: #E70095 !important;
	color: white !important;
	position: absolute;
	bottom: 0px;
	border: none;
	max-height: 375px;
	margin: 0px;
	border-radius: 0 !important;
}
.introText{
	padding-top: 8vh;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	max-width: 300px;
	line-height: 1.8rem;
	max-height: 77vh;
	overflow-y: scroll;
	margin: auto;
	left: 0;
	right: 0;
}
.introText.creditText{
	line-height: 1.4em;
}
.whiteText{
	color: #fff;
	font-family: "museo-sans", sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 1.15rem;
	text-transform: uppercase;
	text-shadow: none !important;
}
.small{
	font-size: 0.5em;
}
#skip{
	position: absolute;
	bottom: 15px;
	margin-bottom: auto; 
	right: 1.5rem;
	font-size: 0.9em;
}
#logo{
	width: 40%;
	min-width: 80px;
	max-width: 200px;
	left: -25%;
    top: 5%;
    position: relative;
}
#nowPlaying{
	position:absolute;
	bottom: 0;
	width: calc(100% - 1rem);
	height: calc(100px - 1rem);
	z-index: 9999;
	background-color: #E70095;
	padding: 0.5rem;
	font-size: 0.8rem;
}
.museo{
	font-family: museo, serif;
	font-size: 1.5em;
}
#controls{
	position: absolute;
	margin-top: 0.5rem;
	right: 10px;
	top: 10px;
	color: white;
	text-align: center;
	font-family: "museo-sans", sans-serif;
	line-height: 1em;
	font-size: 0.9em;
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}
#centerMap{
	position: relative;
	padding: 3px;
	border: 2px white solid;
	border-radius: 5px;
	margin-bottom: 5px;
}
#resetMap{
	position: relative;
	padding: 3px;
	border: 2px white solid;
	border-radius: 5px;	
}
#poetName{
	/*max-width: 77%;*/
}
#poetImg{
height: calc(100% - 0.8rem - 2px);
display: inline-block;
z-index: -1;
margin-right: 5px;
margin-top: 2px;
visibility: hidden;
max-width: 52px;
}

#dynamic{
	display: inline-block;
    max-width: 60%;
    height: calc(100% - 0.8rem);
    vertical-align: top;
    padding-top: 0.2rem;
}
#logoCredit{
	margin-top: 20px;
	width: 40%;
}
#logo2Credit{
	margin-top: 20px;
	width: 80%;
}
#instructions{
    position: absolute;
    width: 100%;
    top: 0px;
    left: 0px;
    background: rgba(201, 0, 121, 0.8);
    z-index: 99;
    height: calc(90vh - 5px);
    text-align: center;
}
#closeBtn{
	border: 2px solid white;
    border-radius: 5px;
    background: none;
    margin-top: 30px;
}
#alertPlay{
	width: 80%;
	position: absolute;
	z-index: 98;
	display: block;
	text-align: center;
    border-radius: 20px;
    background-color: #E70095;
    padding: 15px;
    left: 0;
    right: 0;
    margin: auto;
    top: 15vh;
    display: none;
}
#playBtn{
	border: 2px solid white;
    border-radius: 5px;
    background: none;
    margin-top: 30px;
}
.scale-down {
	-webkit-animation: scale-down-tl 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) forwards;
	        animation: scale-down-tl 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) forwards;
}
.scale-up {
	-webkit-animation: scale-down-tl 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) reverse;
	        animation: scale-down-tl 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) reverse;
}
/* ----------------------------------------------
 * Generated by Animista on 2019-10-3 20:34:1
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-down-tl
 * ----------------------------------------
 */
@-webkit-keyframes scale-down-tl {
  0% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
  }
  100% {
    -webkit-transform: scaleY(0);
            transform: scale(0);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
  }
}
@keyframes scale-down-tl {
  0% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
  }
  100% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
  }
}
